<footer class="footer footer-black  footer-white ">
  <div class="container-fluid">
    <div class="row">
      <nav class="footer-nav">
        <!-- <ul>
            <li><a href="https://www.creative-tim.com" target="_blank">Creative Tim</a></li>
            <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
            <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
          </ul> -->
        </nav>
        <div class="credits ml-auto">
          <span class="copyright">
            © <script>
              document.write(new Date().getFullYear()) ;
            </script> made by Me
          </span>
        </div>
      </div>
    </div>
  <!-- </div> -->
</footer>

<script src="../assets/js/core/jquery.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

<script src="../assets/js/plugins/chartjs.min.js"></script>

<script src="../assets/js/plugins/bootstrap-notify.js"></script>
<!-- <script src="./routes/financials-route.js"></script> -->
<script>
  const logoMini = document.querySelector('.logo-mini');
  const dropdown = document.querySelector('.dropdown');


  logoMini.addEventListener('click', () => {
    // alert('sd')
    dropdown.classList.toggle('show-dropdown');
  });



  $(document).ready(function() {
    demo.initChartsPages();
    demoReport.initChartsPages();
  });
</script>
</body>

</html>
