<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Electricity Bill Management System
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />

  <link href="../assets/demo/demo.css" rel="stylesheet" />
  <style>
    .logo-mini{
      cursor: pointer;
    }
    .navbar-collapse{
      position: relative;
    }
    .dropdown{
      display: none;
      position: absolute;
      background: #fefefe;
      top: 100%;
      right: 0;
      border-radius: 3px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: 200ms all ease;
    }
    .show-dropdown{
      display: block;
    }
    .dropdown_menu  a{
      width: 100%;
      padding: 5px 10px;
    }
    .dropdown_menu:hover{
      background: #f0f0f0;
    }
    div.content {
      margin-top: 30px !important;
    }
  </style>
</head>

<body class="">
  <div class="wrapper ">

    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" style="position: sticky; background-color: #f4f3ef !important;">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <!-- <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <div class="simple-text logo-mini">
              <img src="" style="border-radius: 50px; width: 30px; height: 30px; object-fit: cover;">
            </div>
            <div class="dropdown">
              <div class="dropdown_menu">
                <a href="/user" class="navbar-brand" type="button" style="font-size: 1.05rem;color: #5f9ea0;"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
              </div>
              <div class="dropdown_menu">
                <a href="/report" class="navbar-brand" type="button" style="font-size: 1.05rem;color: #5f83a0;"><i class="fa fa-book" aria-hidden="true"></i> Report</a>
              </div>
              <div class="dropdown_menu">
                <a href="/logout" class="navbar-brand" type="button" style="font-size: 1.05rem;color:#cd5c5c;"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
              </div>
            </div>
          </div> -->
        </div>
      </nav>
